$namespace: 'Everright-formEditor';
@use './Main.scss'; 
@use './DeviceSwitch';
@use './Fields';
@use './Canves';
@use './Config';
@use './ConfigData1';
@use './ConfigData2';
@use './ConfigData3';
@use './GlobalConfigPanel';
@use './PropsPanel';
@use './GridLayout';
@use './TableLayout';
@use './TabsLayout';
@use './CollapseLayout';
@use './InlineLayout';
@use './SubformLayout';
@use './DragGableLayout';
@use './SelectElement';
@use './FormTypes/Signature';
@use './FormTypes/Radio';
@use './FormTypes/Checkbox';
@use './FormTypes/Cascader';
@use './FormTypes/Select';
@use './FormTypes/Slider';
@use './FormTypes/Html';
@use './FormTypes/Time';
@use './FormTypes/Date';
@use './FormTypes/Region';
@use './FormTypes/Number';
@use './FormTypes/Divider';
@use './FormTypes/Other';
@use './ConfigBackground';
@use './ConfigBorder';
@use './ConfigAllsides';
@use './ConfigCheckboxComponent';
@use './ConfigGridLayoutComponent';
@use './ConfigCollapseComponent';
@use './ConfigTypeComponent';
@use './ConfigLogicComponent';
@use './ConfigSubformDefaultValueComponent';
@use './tabCom';
@use './buttonGroupCom';
