@use 'sass:math';
@use 'sass:map';
@use '@DESIGN/theme/base.scss' as *;
@include b(FormTypesCheckbox) {
  @include e(blockLayout) {
    display: flex;
    flex-direction: column;
    align-items: start;
    .el-checkbox {
      margin-right: 0;
    }
  }
}
